// https://bulma.io/documentation/overview/customize/
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";
//@import "../../../node_modules/bulma/css/bulma.min.css";

@font-face{
    font-family: 'summit';
    src: './Montserrat-Regular.ttf'
}

// custom variables
$summitblue: #6A87D8;
$summitblue-invert: findColorInvert($summitblue);
$summitblack: rgba(0, 0, 0, 0.65);

$primary: $summitblue;
$primary-invert: $summitblue-invert;


@import "../../../node_modules/bulma/bulma";

.navbar-brand {
    .navbar-item {
        img{
            //allow for larger image as brand (1.75 is default for template
            max-height: 5rem;
        }
    }

    &.force-flex {
        align-items: center;
    }
}




