// https://bulma.io/documentation/overview/customize/
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";
//@import "../../../node_modules/bulma/css/bulma.min.css";

// custom variables
$summitblue: #6A87D8;
$summitblue-invert: findColorInvert($summitblue);
$summitblack: rgba(0, 0, 0, 0.65);

$primary: $summitblue;
$primary-invert: $summitblue-invert;

@import "../../../node_modules/bulma/bulma";


@font-face{
    font-family: 'summit';
    src: './Montserrat-Regular.ttf'
}
.navbar-item img{
    //allow for larger image as brand (1.75 is default for template
    max-height: 5rem;    
 }



